{% extends "base/index.html" %} {% load static %} {% block content %}
<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group pull-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li class="breadcrumb-item"><a href="#">Pharmsyn</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div>
          <h4 class="page-title">Dashboard</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->
    <div class="row">
      <div class="col-xl-8">
        <div class="row">
    
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-row">
                  <div class="col-3 align-self-center">
                    <div class="round">
                      <i class="mdi mdi-account-multiple-plus"></i>
                    </div>
                  </div>
                  <div class="col-9 text-right align-self-center">
                    <div class="m-l-10">
                      <h5 class="mt-0">{{ new_users_count }}</h5>
                      <p class="mb-0 text-muted">New Users</p>
                    </div>
                  </div>
                </div>
                <div class="progress mt-3" style="height: 3px">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 48%"
                    aria-valuenow="48"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
    
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <div class="search-type-arrow"></div>
                <div class="d-flex flex-row">
                  <div class="col-3 align-self-center">
                    <div class="round">
                      <i class="mdi mdi-cart"></i>
                    </div>
                  </div>
                  <div class="col-9 align-self-center text-right">
                    <div class="m-l-10">
                      <h5 class="mt-0">{{ new_orders_count }}</h5>
                      <p class="mb-0 text-muted">New Orders</p>
                    </div>
                  </div>
                </div>
                <div class="progress mt-3" style="height: 3px">
                  <div
                    class="progress-bar bg-danger"
                    role="progressbar"
                    style="width: 61%"
                    aria-valuenow="61"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <!--end card-body-->
            </div>
            <!--end card-->
          </div>
          <!--end col-->
        </div>
        <!--end row-->
    
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title">Every Day Revenue</h4>
            <p class="text-muted mb-4 font-14"></p>
            <div id="morris-bar-stacked" class="morris-chart"></div>
          </div>
          <!--end card-body-->
        </div>
        <!--end card-->
      </div>
      <!--end col-->
    
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body">
            <h5 class="header-title mt-0 mb-3">Productos Top</h5>
            <div id="donut-example"></div>
            <ul class="list-unstyled text-center text-muted mt-2 mb-0">
              {% for product_id, total_quantity in top_products %}
                <li class="list-inline-item font-13">
                    <i class="mdi mdi-album font-16 text-secondary mr-2"></i>{{ product_id }} - {{ total_quantity }}
                </li>
                {% endfor %}
            </ul>
          </div>
          <!--end card-body-->
        </div>
        <!--end card-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    


  </div>
  <!-- end container -->
</div>
<!-- end wrapper -->

<script>
  var topProducts = {{ top_products_j|safe }};
</script>



{% endblock %}