{% extends "base/index.html" %} 

{% block content %}
{% load static %} 

<div class="wrapper">
  <div class="container-fluid">
    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group pull-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li class="breadcrumb-item"><a href="#">Pharmsyn</a></li>
              <li class="breadcrumb-item"><a href="#">Producto</a></li>
              <li class="breadcrumb-item active">List</li>
            </ol>
          </div>
          <h4 class="page-title">Modulo Producto</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->


    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title">Listado del productos</h4>
            <p class="text-muted mb-4 font-14">
              Informacion de todo los productos registrado en el sistema. 
            </p>

            <table
              id="datatable-buttons"
              class="table table-striped table-bordered w-100"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>COD</th>
                  <th>Nombre</th>
                  <th>Laboratorio</th>
                  <th>Stock</th>
                  <th>Precio Venta</th>
                  <th>Tipo Producto</th>
                  <!-- <th>Descripcion</th> -->
                  <th>Creado</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                {% for product in products %}
                <tr>
                    <td class="w60">
                      <img class="avatar1"  src={{ product.thumbnail }} alt="">
                    </td>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.laboratory.name }}</td>
                    <td>{{ product.stock }}</td>
                    <td>{{ product.sale_price }}</td>
                    <td>{{ product.product_type }}</td>
                    <!-- <td>{{ product.description }}</td> -->
                    <td>{{ product.created_at }}</td>
                    {% comment %} <td><span class="tag tag-success">Full-time</span></td> {% endcomment %}
                    <td>
                      <button type="button" class="btn btn-icon btn-sm" title="View"><i class="fa fa-eye"></i></button>
                      <a href="{% url 'core:editar_product' product_id=product.id %}" type="button" class="btn btn-icon btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                      <button type="button" class="btn btn-icon btn-sm js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o text-danger"></i></button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end wrapper -->




{% endblock %}
